*, html, body{
    /* background-color: black;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* global properties  */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.dark-blue {
    background-color: #1F2937;
}

.blue {
    background-color: #3882F6;
}

.gray {
    background-color: #E5E7EB;
}

.container {
    margin: 0 auto;
    margin-top: 0;
}

footer {
    text-align: center;
}

.white-text{
    color:white
}

.top-links{
    min-height: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


nav ul {

    margin: 0;
    padding: 0;

    font-size: 1.2rem;
}

nav  li:hover {
    color: red
}

header h1{
    font-size: 1.8rem;
    /* color:red */
}


/* desktop screen size  */
@media only screen and (min-width: 992px) {
    .container{
        max-width: 1000px;
    }

    .top-links{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    nav ul {
        display: flex;
        align-items: flex-end;
        gap: 1.5rem;
    }

    .hero {
        min-height: 30rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}